################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GLES/.vs/GLES
/GLES/GLES/bin/Debug/netcoreapp3.1
/GLES/GLES/bin/x86/Debug/netcoreapp3.1/GLES.runtimeconfig.json
/GLES/GLES/bin/x86/Debug/netcoreapp3.1/GLES.runtimeconfig.dev.json
/GLES/GLES/bin/x86/Debug/netcoreapp3.1/GLES.pdb
/GLES/GLES/bin/x86/Debug/netcoreapp3.1/GLES.exe
/GLES/GLES/bin/x86/Debug/netcoreapp3.1/GLES.dll
/GLES/GLES/bin/x86/Debug/netcoreapp3.1/GLES.deps.json
/GLES/GLES/obj
/GLES/.vs/GLES.Win/v16
/GLES/GLES.Demo/obj
/GLES/GLES.Demo/bin/Debug/netstandard2.0
/GLES/GLES.Demo/bin/Debug/netstandard2.0/GLES.dll
/GLES/GLES.Demo/bin/Debug/netstandard2.0/GLES.pdb
/GLES/GLES.Win/.vs/GLES.Win
/GLES/GLES.Win/bin/Debug/netcoreapp3.1
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.Win.runtimeconfig.json
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.Win.runtimeconfig.dev.json
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.Win.pdb
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.Win.exe
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.Win.dll
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.Win.deps.json
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.runtimeconfig.json
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.runtimeconfig.dev.json
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.pdb
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.exe
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.dll
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.deps.json
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.Demo.pdb
/GLES/GLES.Win/bin/x86/Debug/netcoreapp3.1/GLES.Demo.dll
/GLES/GLES.Win/obj
